.menu {
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: center;
  top: 29px;
  right: -20px;
  cursor: pointer;
}

.menuFadeOut {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
  right: -150px;
}

.menuFadeIn {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 1;
  right: -20px;
}

.realMenu {
  position: absolute;
  right: -500px;
  top: 24px;
  overflow: hidden;
  padding-bottom: 10px;
}

.realMenuFadeIn {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  transition: all 600ms ease;
  opacity: 1;
  right: 15px;
  display: flex;
}

.realMenuFadeOut {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  transition: all 600ms ease;
  opacity: 1;
  right: -500px;
  display: flex;
}

@media screen and (max-width: 800px) {
  .menu {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    top: 29px;
    right: -20px;
    cursor: pointer;
  }

  .menuFadeOut {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 0;
    right: -150px;
  }

  .menuFadeIn {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
    right: -20px;
  }

  .realMenu {
    position: absolute;
    right: -500px;
    top: 0px;
    overflow: hidden;
    padding: 29px 15px;
    background-color: white;
  }

  .realMenuFadeIn {
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    transition: all 800ms ease;
    opacity: 1;
    right: 0px;
    display: flex;
  }

  .realMenuFadeOut {
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    transition: all 800ms ease;
    opacity: 1;
    right: -500px;
    display: flex;
  }
}
